* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
}
body {
  width: 100%;
  background: #ededed;
}
main{
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: lightgray; /* fallback */
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../assets/logo/lampos-aritonang-24gR_9lCdes-unsplash 1.png');
  background-size: cover;       /* couvre tout le conteneur */
  background-position: center;  /* centre l'image */
  background-repeat: no-repeat; /* pas de répétition */
  padding-top: 40px;
  padding-bottom: 200px;
}


.LogoSite {
  width: 200px;
  margin-left: 50px;
}

header h1 {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  color: #ffd15b;
  font-weight: 400;
  font-size: 44px;
  font-family: Anton;
  text-align: center;
  width: 50%;
  margin-top: 185px;
}

/*  Search Bar */

.SearchBar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.SearchBar input {
  border-radius: 10px !important;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  padding: 0 60px 0 30px;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#search-btn-bar{
  display: contents;
}

.SearchBar i {
  background-color: #1b1b1b;
  border-radius: 10px;
  font-size: 22px;
  padding: 15px;
  right: 8px;
  color: white;
  cursor: pointer;
  position: absolute;
  height: 50px;
}

.SearchBar i:hover {
  background-color: #ffd15b;
  border-radius: 10px;
  font-size: 22px;
  padding: 12px;
  right: 8px;
  color: black;
  cursor: pointer;
  position: absolute;
}

/* DropDown */

.FilterBar {
  justify-content: space-around;
  margin-top: 25px;
}
.FilterBar h1 {
  font-family: Anton;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
}
.dropdown {
  width: 150px;
  max-height: 40px;
  position: relative;
}

.dropdown-btn,
li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dropdown-btn {
  user-select: none;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  height: 55px;
  padding: 0 15px;
  background: #fff;
  border-radius: 11px;
  justify-content: space-between;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.search input {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 10px;
  padding-right: 27px;
}

.search i {
  cursor: pointer;
  position: absolute;
  right: 15px;
  color: #9b9b9b;
}

.dropdown-options {
  display: none;
  flex-direction: column;
  height: 250px;
  overflow-y: scroll;
  position: absolute;
  z-index: 99;
  padding: 15px 0;
  background: #fff;
  border-radius: 7px;
  width: 150px;
  top: 40px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dropdown-options::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dropdown-options {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.option {
  color: #1b1b1b;
  font-family: Manrope;
  font-size: 14px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  user-select: none;
}

.option:hover {
  background-color: #ffd15b;
}
/* Active Options */

.active-option {
  display: flex;
  margin: 50px;
  gap: 15px;
  overflow-x: scroll;
}
.active-option::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.active-option {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.active-option li {
  background-color: #ffd15b;
  border-radius: 10px;
  padding: 15px 80px 15px 20px;
  position: relative;
  cursor: default;
}
.active-option i {
  position: absolute;
  z-index: 98;
  right: 25px;
  cursor: pointer;
}

/* Recipe */

#Recette {
  display: grid;
  margin-top: 40px;
  gap: 20px; /* espace entre les cartes */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

@media (min-width: 1200px) {
  #Recette {
    grid-template-columns: repeat(3, 1fr);
  }
}

.recipe-card {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  border-radius: 25px;
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
  position: relative;
  height: 93%;
}

.recipe-img {
  height: 260px;
  object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.recipe-time {
  position: absolute;
  top: 15px;
  right: 20px;
  font-family: Manrope;
  font-size: 15px;
  background-color: #ffd15b;
  border-radius: 25px;
  padding: 5px 15px 5px 15px;
}

.recipe-txt {
  padding: 20px;
}
.recipe-txt h2 {
  font-family: Anton;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.recipe-desc,
.recipe-ingredient {
  color: #7a7a7a;
  font-family: Manrope;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.recipe-desc-txt {
  overflow: hidden;
  height: 100px;
}
.recipe-desc-txt,
.recipe-ingredient ul {
  color: #1b1b1b;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: none;
  margin-top: 15px;
}

.recipe-ingredient {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.recipe-ingredient ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9px;
}
.recipe-ingredient ul li {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  padding-bottom: 10px;
}
.recipe-ingredient ul li span {
  color: #7a7a7a;
  font-family: Manrope;
  font-size: 14px;
}
